# Data Review

In [ ]:
import pandas as pd

## review_city.json

`review_city.json` has 9 rows and 942,027 columns: 942,027 customers' review recordings.

In [2]:
review = pd.read_json("review_city.json", lines=True)
review.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,LG2ZaYiOgpr2DK_90pYjNw,V34qejxNsCbcgD8C0HVk-Q,HQl28KMwrEKHqhFrrDqVNQ,5,1,0,0,I love Deagan's. I do. I really do. The atmosp...,2015-12-05 03:18:11
1,qWHp2l2lysENZObh6MAulA,5lb0POg2t-AkMFx6603cYQ,ZlCSsWS07JulSBIQlrbF5w,5,1,0,0,Called for a 5:15 morning reservation. The dri...,2015-05-26 10:36:47
2,Ne_2CSfcKIqXHmv_KC0uqg,6sJN_HlM_uwpfLJ1puf1Fg,oVuZtlCFg_zF090Nhtp0Ow,4,3,0,1,A close friend was in town and so instead of t...,2018-02-01 19:15:00
3,2mLlQ9n5Ln_fykOuX_b0-A,EZ6g9a17UdMjtR-wrZebmA,wSAGILK2CFbq5BVZ5D67-A,3,0,0,0,The service is attentive. The decor attractive...,2015-06-21 00:07:59
4,Ymb8ZYPg2e8dvqhdj3Gkqw,hHFSpKcnDtJOs6M-JKFZ8Q,oCvxJBOs-Mbg-4oanPO7lQ,4,0,0,0,The ingredients are always fresh and I like th...,2016-10-26 14:53:42

In [3]:
review.shape

(942027, 9)

## business_city.json

`business_city.json` contains 14 rows and 36,327 columns.

In [4]:
business = pd.read_json("business_city.json", lines=True)
business.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,pQeaRpvuhoEqudo3uymHIQ,The Empanadas House,404 E Green St,Champaign,IL,61820,40.110446,-88.233073,4.5,5,1,"{'RestaurantsAttire': 'u'casual'', 'Restaurant...","Ethnic Food, Food Trucks, Specialty Food, Impo...","{'Monday': '11:30-14:30', 'Tuesday': '11:30-14..."
1,7Dv4_HAxsxvadEsT5fxQBg,Dependable Brakes & Exhaust,1110 Saw Mill Run Blvd,Pittsburgh,PA,15226,40.406667,-80.004450,5.0,5,1,{'BusinessAcceptsCreditCards': 'True'},"Automotive, Auto Repair","{'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ..."
2,M_guz7Dj7hX0evS672wIwA,Chocolate Shoppe Ice Cream,2831 Parmenter St,Middleton,WI,53562,43.105310,-89.510142,3.5,6,1,"{'BikeParking': 'True', 'Caters': 'True', 'Whe...","Desserts, Food, Ice Cream & Frozen Yogurt","{'Monday': '0:0-0:0', 'Tuesday': '11:0-21:0', ..."
3,03x6ZlJ7s39DHqfTJU1Ecg,Beechmont Country Club,29600 Chagrin Blvd,Beachwood,OH,44122,41.461448,-81.470127,4.5,7,1,"{'GoodForKids': 'True', 'BusinessAcceptsCredit...","Event Planning & Services, Venues & Event Spac...",None
4,_4Oe9V-qTpU5iemM9bphlA,Goodyear Auto Service Center,"800 Fort Duquesne Blvd, Ste 1",Pittsburgh,PA,15222,40.444614,-79.999344,3.5,12,1,{'BusinessAcceptsCreditCards': 'True'},"Oil Change Stations, Auto Repair, Automotive, ...","{'Monday': '7:0-18:0', 'Tuesday': '7:0-18:0', ..."

In [5]:
business.shape

(36327, 14)

## user_city.json

`user_city.json` contains 272014 rows and 22 columns.

In [80]:
user = pd.read_json("user_city.json", lines=True)
user.head()

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,xvu8G900tezTzbbfqmTKvA,Anne,485,2008-08-09 00:30:27,1265,400,512,"2009,2010,2011,2012,2014,2015,2016,2017,2018","3W3ZMSthojCUirKEqAwGNw, eTIbuu23j9tOgmIa9POyLQ...",78,...,9,2,1,1,22,28,31,31,19,31
1,z5_82komKV3mI4ASGe2-FQ,Steve,186,2007-02-27 07:09:40,642,192,155,2007,"E-fXXmALnZTPmzzL6rV4cQ, L2g6vS1GDfqLEpiDOFfCkA...",15,...,16,7,7,2,60,36,32,32,8,9
2,QG13XBbgHWydzThRBGJtyw,Claire,218,2007-06-04 00:14:10,587,372,426,"2008,2009","tnfVwTpuPlR6W2xEAMiqsg, Bd_16T8Dva27lF5LIrUmcQ...",31,...,5,1,5,3,18,24,37,37,17,5
3,I_6wY8_RsewziNnKhGZg4g,Jeff,405,2010-08-05 18:42:29,799,244,312,"2010,2011,2012,2013,2014,2015,2016,2017","OGa2q6LvuQLYFUG_RCcALw, 0uM2R-uMBemiNlrFG5j56A...",13,...,8,3,0,1,19,48,76,76,14,6
4,1WBxJ2r3A2QYfRSEzgcmkQ,Evan Thoreau,315,2009-10-30 15:05:44,658,251,361,"2010,2011,2012,2013,2014,2015,2016","JUsNVy1vopeN61geWX6qRw, KDrRwgcGfMHzJXACVtreMA...",31,...,4,4,1,1,52,151,50,50,33,5

## tip_city.json

`tip_city.json` contains 129,571 rows and 5 columns.

In [81]:
tip = pd.read_json("tip_city.json", lines=True)
tip.head()

,user_id,business_id,text,date,compliment_count
0,NfU0zDaTMEQ4-X9dbQWd9A,5VXxZIMgoKRWbNa6x9kMfw,Gordon Square sundae for the little one!,2012-03-17 00:36:24,0
1,Yi5KGA-QvolRWNeDfzEKrw,Egd-0nDgzZGEVA0R09yyUQ,Salmon Melissa,2011-08-04 21:54:35,0
2,rpK40ZN2rNFJLhfdlQqS-Q,qpmd3uD2ffE29J6wK-RkrQ,The gas here is usually cheaper than regular g...,2011-04-10 18:43:14,0
3,dt9IHwfuZs9D9LOH7gjNew,M5lsAGp-jPwzHAVfIaEx6g,No longer in the flats.,2014-02-15 23:55:49,0
4,CbmNBkKa9QKNxPiN_whFUw,lwuio1wYukQ_WaC8PPaS4Q,Impossible an alien has taken over!,2012-01-11 11:42:24,0

In [40]:
tip.shape

(129571, 5)

# Data Merge

In [125]:
df_raw = pd.merge(review, business, how='left', on='business_id')
df_raw.reset_index(drop=True, inplace=True)
df_raw.head()

,review_id,user_id,business_id,stars_x,useful,funny,cool,text,date,name,...,state,postal_code,latitude,longitude,stars_y,review_count,is_open,attributes,categories,hours
0,LG2ZaYiOgpr2DK_90pYjNw,V34qejxNsCbcgD8C0HVk-Q,HQl28KMwrEKHqhFrrDqVNQ,5,1,0,0,I love Deagan's. I do. I really do. The atmosp...,2015-12-05 03:18:11,Deagan's Kitchen & Bar,...,OH,44107,41.485192,-81.800145,4.0,417,1,"{'BusinessAcceptsCreditCards': 'True', 'Outdoo...","Restaurants, Gastropubs, Nightlife, American (...","{'Tuesday': '11:0-22:0', 'Wednesday': '11:0-22..."
1,qWHp2l2lysENZObh6MAulA,5lb0POg2t-AkMFx6603cYQ,ZlCSsWS07JulSBIQlrbF5w,5,1,0,0,Called for a 5:15 morning reservation. The dri...,2015-05-26 10:36:47,Black Cab & Limo,...,IL,,40.116420,-88.243383,4.5,28,1,{'WiFi': 'u'free''},"Airport Shuttles, Transportation, Taxis, Hotel...","{'Monday': '8:0-20:0', 'Tuesday': '8:0-20:0', ..."
2,Ne_2CSfcKIqXHmv_KC0uqg,6sJN_HlM_uwpfLJ1puf1Fg,oVuZtlCFg_zF090Nhtp0Ow,4,3,0,1,A close friend was in town and so instead of t...,2018-02-01 19:15:00,Choolaah Indian BBQ,...,PA,15206,40.460266,-79.923461,4.0,302,1,"{'RestaurantsTableService': 'False', 'Restaura...","Restaurants, Indian, Vegetarian, Vegan, Gluten...","{'Monday': '0:0-0:0', 'Tuesday': '11:0-17:0', ..."
3,2mLlQ9n5Ln_fykOuX_b0-A,EZ6g9a17UdMjtR-wrZebmA,wSAGILK2CFbq5BVZ5D67-A,3,0,0,0,The service is attentive. The decor attractive...,2015-06-21 00:07:59,Adega,...,OH,44115,41.499615,-81.685922,4.0,201,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Mediterranean, Hotels, Beer, Wine & Spirits, B...","{'Monday': '6:30-22:0', 'Tuesday': '6:30-22:0'..."
4,Ymb8ZYPg2e8dvqhdj3Gkqw,hHFSpKcnDtJOs6M-JKFZ8Q,oCvxJBOs-Mbg-4oanPO7lQ,4,0,0,0,The ingredients are always fresh and I like th...,2016-10-26 14:53:42,Pita Pit,...,PA,15203,40.426647,-79.965902,3.5,57,1,"{'RestaurantsPriceRange2': '1', 'RestaurantsAt...","Fast Food, Greek, Breakfast & Brunch, Restaura...","{'Monday': '10:0-22:0', 'Tuesday': '10:0-22:0'..."

In [126]:
df_raw.shape

(942027, 22)

In [127]:
df_raw.columns

Index(['review_id', 'user_id', 'business_id', 'stars_x', 'useful', 'funny',
       'cool', 'text', 'date', 'name', 'address', 'city', 'state',
       'postal_code', 'latitude', 'longitude', 'stars_y', 'review_count',
       'is_open', 'attributes', 'categories', 'hours'],
      dtype='object')

In [128]:
df = df_raw.drop(columns=['user_id', 'useful', 'funny',
       'cool','date', 'address', 'postal_code', 'latitude', 'longitude', 'review_count',
       'is_open'])
df.shape

(942027, 10)

In [175]:
categories = list(df.categories)
categories=[str(a) for a in categories]
categories=[a.lower() for a in categories]
categories_drop = [i for i in range(0,len(categories)) if categories[i].find('pizza')==-1 ]

In [177]:
## Number of selected pizza review 
len(categories)-len(categories_drop)

76254

In [178]:
pizza=df.drop(labels=categories_drop,axis=0)

In [179]:
## Number of selected pizza bussiness
len(set(list(pizza.business_id)))

2039

In [180]:
pizza=pizza.drop(columns=['business_id'])
pizza.reset_index(drop=True, inplace=True)
pizza.tail()

,stars_x,text,name,city,state,stars_y,attributes,categories,hours
76249,1,I'm originally from the other side of Ohio and...,Jet's Pizza,Willoughby,OH,3.0,"{'OutdoorSeating': 'False', 'RestaurantsTakeOu...","Pizza, Food Delivery Services, Restaurants, Food","{'Monday': '0:0-0:0', 'Tuesday': '10:0-22:0', ..."
76250,5,"Yes, yes, YES!! We loved going to the place in...",Mercurio’s,Pittsburgh,PA,4.5,"{'RestaurantsTableService': 'True', 'Restauran...","Pizza, Restaurants, Food, Gelato","{'Monday': '0:0-0:0', 'Tuesday': '11:0-21:0', ..."
76251,4,Went here for a lunch meeting amidst s typical...,56 Kitchen,Cleveland,OH,4.0,"{'RestaurantsTakeOut': 'True', 'Ambience': '{'...","Salad, Restaurants, Sandwiches, Pizza, Beer, W...","{'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0'..."
76252,1,My wife and I have eaten at La Brioche at leas...,La Brioche True Food,Madison,WI,3.5,"{'RestaurantsAttire': 'u'casual'', 'Restaurant...","Bakeries, American (New), Pizza, Food, Restaur...","{'Monday': '7:0-17:0', 'Tuesday': '7:0-17:0', ..."
76253,3,First let me say Lindys in Columbus is one of ...,Lindey's Lake House,Beachwood,OH,3.0,"{'BusinessParking': '{'garage': False, 'street...","American (New), Restaurants, Tapas/Small Plate...","{'Monday': '16:0-22:0', 'Tuesday': '16:0-22:0'..."

In [181]:
pizza.to_csv('pizza_raw.csv')