In [204]:
import pandas as pd
import nltk
import numpy as np

In [205]:
review = pd.read_json('review_city.json',lines = True)
review.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,LG2ZaYiOgpr2DK_90pYjNw,V34qejxNsCbcgD8C0HVk-Q,HQl28KMwrEKHqhFrrDqVNQ,5,1,0,0,I love Deagan's. I do. I really do. The atmosp...,2015-12-05 03:18:11
1,qWHp2l2lysENZObh6MAulA,5lb0POg2t-AkMFx6603cYQ,ZlCSsWS07JulSBIQlrbF5w,5,1,0,0,Called for a 5:15 morning reservation. The dri...,2015-05-26 10:36:47
2,Ne_2CSfcKIqXHmv_KC0uqg,6sJN_HlM_uwpfLJ1puf1Fg,oVuZtlCFg_zF090Nhtp0Ow,4,3,0,1,A close friend was in town and so instead of t...,2018-02-01 19:15:00
3,2mLlQ9n5Ln_fykOuX_b0-A,EZ6g9a17UdMjtR-wrZebmA,wSAGILK2CFbq5BVZ5D67-A,3,0,0,0,The service is attentive. The decor attractive...,2015-06-21 00:07:59
4,Ymb8ZYPg2e8dvqhdj3Gkqw,hHFSpKcnDtJOs6M-JKFZ8Q,oCvxJBOs-Mbg-4oanPO7lQ,4,0,0,0,The ingredients are always fresh and I like th...,2016-10-26 14:53:42

In [206]:
review.shape
review.columns.values.tolist()

['review_id',
 'user_id',
 'business_id',
 'stars',
 'useful',
 'funny',
 'cool',
 'text',
 'date']

In [207]:
business = pd.read_json('business_city.json',lines = True)
business.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,pQeaRpvuhoEqudo3uymHIQ,The Empanadas House,404 E Green St,Champaign,IL,61820,40.110446,-88.233073,4.5,5,1,"{'RestaurantsAttire': 'u'casual'', 'Restaurant...","Ethnic Food, Food Trucks, Specialty Food, Impo...","{'Monday': '11:30-14:30', 'Tuesday': '11:30-14..."
1,7Dv4_HAxsxvadEsT5fxQBg,Dependable Brakes & Exhaust,1110 Saw Mill Run Blvd,Pittsburgh,PA,15226,40.406667,-80.004450,5.0,5,1,{'BusinessAcceptsCreditCards': 'True'},"Automotive, Auto Repair","{'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ..."
2,M_guz7Dj7hX0evS672wIwA,Chocolate Shoppe Ice Cream,2831 Parmenter St,Middleton,WI,53562,43.105310,-89.510142,3.5,6,1,"{'BikeParking': 'True', 'Caters': 'True', 'Whe...","Desserts, Food, Ice Cream & Frozen Yogurt","{'Monday': '0:0-0:0', 'Tuesday': '11:0-21:0', ..."
3,03x6ZlJ7s39DHqfTJU1Ecg,Beechmont Country Club,29600 Chagrin Blvd,Beachwood,OH,44122,41.461448,-81.470127,4.5,7,1,"{'GoodForKids': 'True', 'BusinessAcceptsCredit...","Event Planning & Services, Venues & Event Spac...",None
4,_4Oe9V-qTpU5iemM9bphlA,Goodyear Auto Service Center,"800 Fort Duquesne Blvd, Ste 1",Pittsburgh,PA,15222,40.444614,-79.999344,3.5,12,1,{'BusinessAcceptsCreditCards': 'True'},"Oil Change Stations, Auto Repair, Automotive, ...","{'Monday': '7:0-18:0', 'Tuesday': '7:0-18:0', ..."

In [208]:
business.shape

(36327, 14)

In [209]:
business.dropna(axis=0, how='any', subset = ['categories'], inplace=True)
business.shape

(36232, 14)

In [210]:
business=business.reset_index(drop=True)

In [211]:
text = list(business.categories)
len(text)

36232

In [212]:
text = [a.lower() for a in text if isinstance(a,str)]

In [217]:
a = [i for i in range(0,len(text)) if text[i].find(' pet')==-1 ]

In [218]:
len(a)

35376

In [219]:
a[35370:]

[36226, 36227, 36228, 36229, 36230, 36231]

In [220]:
business.categories[36118]

'Dog Parks, Parks, Pets, Active Life'

In [221]:
pet=business.drop(labels=a,axis=0)

In [222]:
pet.tail()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
35975,gzAuoCpmFTaPUS4vystADQ,Mobile Vet Services,15058 Old Oak Dr,Strongsville,OH,44149,41.306080,-81.861045,5.0,4,1,None,"Veterinarians, Pets","{'Monday': '9:0-18:0', 'Wednesday': '9:0-15:0'..."
36025,VI5HAnxzRhW2jWKnLTLoew,Rufus DuMonde Pet Salon,600 Williamson St,Madison,WI,53703,43.076701,-89.374957,4.0,21,1,None,"Pets, Pet Groomers, Pet Services","{'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ..."
36108,vm0SESMTXZAKQko1-Yq1Sw,Norwin Veterinary Hospital,12411 Rte 30,North Huntington,PA,15642,40.336230,-79.744876,3.0,3,1,"{'ByAppointmentOnly': 'False', 'BusinessAccept...","Veterinarians, Pet Stores, Pets, Pet Services","{'Monday': '9:0-19:0', 'Tuesday': '9:0-19:0', ..."
36118,g-2x3EOwRYMezkSS_lIdxw,Bow Wow Beach Dog Park,5027 Stow Rd,Stow,OH,44224,41.196745,-81.417057,4.0,43,1,"{'GoodForKids': 'False', 'DogsAllowed': 'True'...","Dog Parks, Parks, Pets, Active Life","{'Monday': '8:0-20:0', 'Tuesday': '8:0-20:0', ..."
36181,_43kPI_g4tqbH-AIET7z3g,The Poo Pros,"7575 Tyler Blvd, Unit C47",Mentor,OH,44060,41.667787,-81.372248,3.5,3,1,None,"Pets, Pet Services, Pet Waste Removal","{'Monday': '9:0-18:0', 'Tuesday': '9:0-18:0', ..."

In [224]:
pet=pet.reset_index(drop=True)

In [225]:
pet_raw = pd.merge(pet, review, how='left', on='business_id')

In [226]:
pet_raw.shape

(8978, 22)

In [227]:
pet = pet_raw.drop(columns=['address','postal_code','latitude','longitude','hours','review_id','date','city','state'])

In [228]:
pet

,business_id,name,stars_x,review_count,is_open,attributes,categories,user_id,stars_y,useful,funny,cool,text
0,UyZqOcWxShRRtACCkZFkpQ,Local Pet,5.0,3,1,None,"Pet Sitting, Pets, Pet Stores, Pet Services, P...",2ZZNOoMQ7WFvFoxDUFw1wg,5,0,0,0,This is a really cute little store with nicely...
1,UyZqOcWxShRRtACCkZFkpQ,Local Pet,5.0,3,1,None,"Pet Sitting, Pets, Pet Stores, Pet Services, P...",SgGKIP3_2_eynec5dOZYSw,5,0,0,0,Local Pet is an awesome pet store that is run ...
2,UyZqOcWxShRRtACCkZFkpQ,Local Pet,5.0,3,1,None,"Pet Sitting, Pets, Pet Stores, Pet Services, P...",Z3f78GereM3pspS5Yqjlqg,5,1,0,0,"I stopped in here with my pup, Moose, after a ..."
3,fhTTP5HRqOzmFw-31Qe7QA,Mario's Fish Bowl,2.0,4,0,"{'OutdoorSeating': 'True', 'RestaurantsReserva...","Seafood, Pizza, Restaurants, Bars, Nightlife, ...",6-0Tq4_hYwLXuWgbDOs3Vw,1,1,0,0,Went there today because i heard they had good...
4,fhTTP5HRqOzmFw-31Qe7QA,Mario's Fish Bowl,2.0,4,0,"{'OutdoorSeating': 'True', 'RestaurantsReserva...","Seafood, Pizza, Restaurants, Bars, Nightlife, ...",maP_ssfRK49SBsMlMGjXjQ,1,0,0,0,By far the worst bar service anywhere ever.\n\...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8973,g-2x3EOwRYMezkSS_lIdxw,Bow Wow Beach Dog Park,4.0,43,1,"{'GoodForKids': 'False', 'DogsAllowed': 'True'...","Dog Parks, Parks, Pets, Active Life",o9iy0YCMRp0KweE9wOM8BA,4,1,0,0,"Bow Wow Beach is a fun dog park/beach in Stow,..."
8974,g-2x3EOwRYMezkSS_lIdxw,Bow Wow Beach Dog Park,4.0,43,1,"{'GoodForKids': 'False', 'DogsAllowed': 'True'...","Dog Parks, Parks, Pets, Active Life",CL2GzeqDGapzJih6s7sHkQ,5,0,0,0,This is the best dog park in Ohio!!! The lake ...
8975,_43kPI_g4tqbH-AIET7z3g,The Poo Pros,3.5,3,1,None,"Pets, Pet Services, Pet Waste Removal",dNe5_clPeFsI9F76gtk9KQ,1,0,3,0,BEWARE: THESE PEOPLE CLAIM TO PROVIDE RELIABLE...
8976,_43kPI_g4tqbH-AIET7z3g,The Poo Pros,3.5,3,1,None,"Pets, Pet Services, Pet Waste Removal",C6ktcKtaj62akb8X0CqAWg,5,3,1,3,We have been using Poo pros for the last year ...
8977,_43kPI_g4tqbH-AIET7z3g,The Poo Pros,3.5,3,1,None,"Pets, Pet Services, Pet Waste Removal",VZtfdUhlDnmNyGoeIR_wpg,5,2,0,1,We contacted this company and they came out wi...